# Base requirements for apel

mysqlclient==2.1.1 # TODO: Add steps to define mysqlclient installation process(pre-requisites etc).
python-ldap
iso8601==1.1.0
dirq # TODO: Need to test in Rocky8 and 9.
